{% extends "base.html" %}
{% load static %}
{% block content %}
{% if error %}
    <div style="width: 100%; line-height: 40px; color: rgb(150, 0, 0); background-color: rgb(159, 193, 223); text-align: center;">{{ error }}</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="cryptorio-forms text-center pt-5 pb-5">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo-image">
                </div>
                <h3 class="p-4">Welcome To Login</h3>
                <div class="cryptorio-main-form">
                    <form action="" class="text-left" method="POST">
                        {% csrf_token %}
                        <label for="email">Account Name</label>
                        <input type="text" id="email" name="email" placeholder="Your email/cellphone">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Please Input Your Password">

                        <input type="submit" value="Log In" class="crypt-button-red-full">
                    </form>
                    <p class="float-left"><a href="register">Sign Up</a></p>
                    <p class="float-right"><a href="forgot">Forgot Password</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}