{% load static %}
<!DOCTYPE html>
<html lang="en">
<head class="crypt-dark">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'images/faviconn.jpg' %}" rel="icon" type="image/jpg"/>

	{% if title %}
		<title>Cryptoleads - {{ title }}</title>
	{% else %}
		<title>Cryptoleads</title>
	{% endif %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/ui.css' %}">


<!-- 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

`	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> 

</head>
<body>
	<header>
		<div class="container-full-width">
			<div class="crypt-header">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
						<div class="row">
							<div class="col-xs-2">
								<div class="crypt-logo">
									<img src="{% static 'images/logoo.jpg' %}" alt="">
								</div>
							</div>
							<div class="col-xs-2">
								<div class="crypt-mega-dropdown-menu">
								  	<a href="" class="crypt-mega-dropdown-toggle">BTC/ETH <i class="pe-7s-angle-down-circle"></i></a>
								  	<div class="crypt-mega-dropdown-menu-block">
								  		<div class="crypt-market-status">
											<div>
											  <!-- Tab panes -->
											  <div class="tab-content">
											    <div role="tabpanel" class="tab-pane active">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">ETH</th>
													      <td>0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-down">-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">LTC</th>
													      <td>0.0000564</td>
													      <td>6.6768876</td>
													      <td>-6.7%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											    <div role="tabpanel" class="tab-pane">
											    	<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">Coin</th>
													      <th scope="col">Price</th>
													      <th scope="col">Volume</th>
													      <th scope="col">Change</th>
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">BTC</th>
													      <td class="crypt-down">0.000056</td>
													      <td>5.3424984</td>
													      <td class="crypt-down"><b>-5.4%</b></td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">DOGE</th>
													      <td class="crypt-up">0.0000234</td>
													      <td>4.3456600</td>
													      <td class="crypt-up">-9.6%</td>
													    </tr>
													    <tr>
													      <th scope="row">XMR</th>
													      <td>0.0000567</td>
													      <td>4.3456600</td>
													      <td>-5.6%</td>
													    </tr>
													  </tbody>
													</table>
											    </div>
											  </div>
											</div>
										</div>
								  	</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
						<ul class="crypt-heading-menu fright">
							<li class="crypto-has-dropdown"><a href="{% url 'exchange' %}">Exchange</a>
                                <ul class="crypto-dropdown">
                                    <li><a href="{% url 'exchange-2' %}">Exchange 2</a></li>
                                    <li><a href="{% url 'exchange-3' %}">Exchange 3</a></li>
                                    <li><a href="{% url 'exchange-4' %}">Exchange 4</a></li>
                                </ul>
                            </li>
							<li><a href="{% url 'market-overview' %}">Overview</a></li>
							<li><a href="{% url 'marketcap' %}">Market Cap</a></li>
							<li><a href="{% url 'trading' %}">Trading</a></li>
							<li><a href="{% url 'withdrawal' %}">Account</a></li>
                            {% if not user.is_authenticated %}
                            <li class="crypt-box-menu menu-red"><a href="{% url 'register' %}">register</a></li>
                            <li class="crypt-box-menu menu-green"><a href="{% url 'login' %}">login</a></li>
                            {% endif %}
						</ul>
					</div>
					<i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
				</div>
			</div>
		</div>
		<div class="crypt-mobile-menu">
			<ul class="crypt-heading-menu">
				<li class="active"><a href="{% url 'exchange' %}">Exchange</a></li>
				<li><a href="{% url 'marketcap' %}">Market Cap</a></li>
				<li><a href="">Trending</a></li>
				<li><a href="">Tools</a></li>
				<li class="crypt-box-menu menu-red"><a href="">register</a></li>
				<li class="crypt-box-menu menu-green"><a href="">login</a></li>
			</ul>
			<div class="crypt-gross-market-cap">
				<h5>$34.795.90 <span class="crypt-up pl-2">+3.435 %</span></h5>
				<h6>0.7925.90 BTC <span class="crypt-down pl-2">+7.435 %</span></h6>
			</div>
		</div>
	</header>
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	{% block content %}{% endblock %}
    <footer>
		
	</footer>
    <script src="https://s3.tradingview.com/tv.js"></script>
    <script src="{% static 'js/tv.js' %}"></script>
    <script src="{% static 'js/depthchart.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	
</body>
</html>