{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row sm-gutters">
        <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2">
            <div class="crypt-market-status mt-4">
                <div>
                  <!-- Nav tabs -->
                      <ul class="nav nav-tabs" id="crypt-tab">
                        <li role="presentation"><a href="#usd"  class="active" data-toggle="tab">usd</a></li>
                        <li role="presentation"><a href="#btc" data-toggle="tab">btc</a></li>
                        <li role="presentation"><a href="#eth" data-toggle="tab">eth</a></li>
                      </ul>

                  <!-- Tab panes -->
                      <div class="tab-content crypt-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="usd">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Coin</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Volume</th>
                                </tr>
                              </thead>
                              <tbody class="crypt-table-hover">
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> BTC/USD</td>
                                  <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.00004356</span></td>
                                  <td>
                                      <span class="d-block">5.3424984</span>
                                      <b class="crypt-down">-5.4%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LTC/USD</td>
                                  <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.00005640</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> ETH/USD</td>
                                  <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.00002340</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-down">-7.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/USD</td>
                                  <td class="crypt-up align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.00003644</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-up">+3.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/USD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.00063440</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>3.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> ERC20/USD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> FTN/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> RIF/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> NEO/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> TRX/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LSK/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XRP/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> CNB/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> VEN/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="btc">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Coin</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Volume</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> ETH/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000234</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-down">-7.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> EOS/BTC</td>
                                  <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000056</span></td>
                                  <td>
                                      <span class="d-block">5.3424984</span>
                                      <b class="crypt-down">-5.4%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LTC/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000564</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-up">+3.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>3.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LINK/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> FTN/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> RIF/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> NEO/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> TRX/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LSK/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XRP/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> CNB/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> VEN/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DASH/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="eth">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Coin</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Volume</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> BTC/ETH</td>
                                  <td class="crypt-down align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000056</span></td>
                                  <td>
                                      <span class="d-block">5.3424984</span>
                                      <b class="crypt-down">-5.4%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> LTC/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000564</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> ETH/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.0000234</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-down">-7.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/ETH</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <b class="crypt-up">+3.7%</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/USTD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span>3.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/USTD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/USTD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/USTD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> PQR/STU</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.000344</span></td>
                                  <td>
                                      <span class="d-block">6.6768876</span>
                                      <span class="crypt-up"><b>+3.7%</b></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> XMR/USTD</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> DOGE/BTC</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="align-middle"><img class="crypt-star pr-1" alt="star" src="{% static 'images/star.svg' %}" width="15"> PQR/STU</td>
                                  <td class="align-middle"><span class="pr-2" data-toggle="tooltip" data-placement="right" title="$ 0.05">0.56723</span></td>
                                  <td>
                                      <span class="d-block">9.34546</span>
                                      <span>6.7%</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-8">
            <div class="crypt-gross-market-cap mt-4 mb-3">
                <div class="row">
                    <div class="col-3 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>Last Price BTC</p>
                                <p>0.0234230 $0.04</p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>Change BTC</p>
                                <p class="crypt-down">-0.0234230 -3.35%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                        <p>High BTC</p>
                        <p class="crypt-up">0.435453</p>
                    </div>
                    <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                        <p>Low BTC</p>
                        <p class="crypt-down">0.09945</p>
                    </div>
                    <div class="col-3 col-sm-2 col-md-3 col-lg-2">
                        <p>Volume 24Hr</p>
                        <p class="crypt-down">12.33445</p>
                    </div>
                </div>
            </div>
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container mb-3">
                  <div id="crypt-candle-chart"></div>
            </div>
            <!-- TradingView Widget END -->
            <div id="depthchart" class="depthchart h-40"></div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 col-xxl-2">
            <div class="crypt-market-status mt-4">
                <div>
                  <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#history"  class="active" data-toggle="tab">history</a></li>
                        <li role="presentation"><a href="#market-trading" data-toggle="tab">market trading</a></li>
                      </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="history">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Time</th>
                              <th scope="col">Price</th>
                              <th scope="col">Volume</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-down">0.000056</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="market-trading">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Time</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Volume</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-down">0.000056</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-down">0.000056</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-down">0.000056</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <td>22:35:59</td>
                              <td class="crypt-up">0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row sm-gutters">
        <div class="col-xl-5">
            <div class="crypt-boxed-area">
                <h6 class="crypt-bg-head"><b class="crypt-up">BUY</b> / <b class="crypt-down">SELL</b></h6>
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="crypt-buy-sell-form">
                            <p>Buy <span class="crypt-up">BTC</span> <span class="fright">Available: <b class="crypt-up">20 BTC</b></span></p>
                            <div class="crypt-buy">
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="0.02323476" readonly>
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Amount</span>
                                      </div>
                                      <input type="number" class="form-control">
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Total</span>
                                      </div>
                                      <input type="text" class="form-control" readonly>
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div>
                                    <p>Fee: <span class="fright">100%x0.2 = 0.02</span></p>
                                </div>
                                <div class="text-center mt-3 mb-3 crypt-up">
                                    <p>You will approximately pay</p>
                                    <h4>0.09834 BTC</h4>
                                </div>
                                <div class="menu-green">
                                    <a href="" class="crypt-button-green-full">Buy</a>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="crypt-buy-sell-form">
                            <p>Sell <span class="crypt-down">BTC</span> <span class="fright">Available: <b class="crypt-down">20 BTC</b></span></p>
                            <div class="crypt-sell">
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                      </div>
                                      <input type="text" class="form-control" placeholder="0.02323476" readonly>
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Amount</span>
                                      </div>
                                      <input type="number" class="form-control">
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Total</span>
                                      </div>
                                      <input type="text" class="form-control" readonly>
                                      <div class="input-group-append">
                                            <span class="input-group-text">BTC</span>
                                      </div>
                                </div>
                                <div>
                                    <p>Fee: <span class="fright">100%x0.2 = 0.02</span></p>
                                </div>
                                <div class="text-center mt-3 mb-3 crypt-down">
                                    <p>You will approximately pay</p>
                                    <h4>0.09834 BTC</h4>
                                </div>
                                <div>
                                    <a href="" class="crypt-button-red-full">Sell</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div>
                <div class="crypt-market-status">
                <div>
                  <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#active-orders" class="active" data-toggle="tab">Active Orders</a></li>
                        <li role="presentation"><a href="#closed-orders" data-toggle="tab">Closed Orders</a></li>
                        <li role="presentation"><a href="#balance" data-toggle="tab">Balance</a></li>
                      </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="active-orders">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Time</th>
                              <th scope="col">Buy/sell</th>
                              <th scope="col">Price BTC</th>
                              <th scope="col">Amount BPS</th>
                              <th scope="col">Dealt BPS</th>
                              <th scope="col">Operation</th>
                            </tr>
                          </thead>
                        </table>
                        <div class="no-orders text-center">
                            <img src="{% static 'images/empty.png' %}" alt="no-orders">
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="closed-orders">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th scope="col">Time</th>
                              <th scope="col">Buy/sell</th>
                              <th scope="col">Price BTC</th>
                              <th scope="col">Amount BPS</th>
                              <th scope="col">Dealt BPS</th>
                              <th scope="col">Operation</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-up">Buy</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-down">Sell</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-up">Buy</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-down">Sell</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-up">Buy</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-down">Sell</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-up">Buy</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-down">Sell</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.000056</td>
                              <td class="crypt-down">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>22:35:59</th>
                              <td class="crypt-up">Buy</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.000056</td>
                              <td class="crypt-up">0.0003456</td>
                              <td>5.3424984</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="balance">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Currency</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Volume</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>BTC</th>
                              <td>0.0000564</td>
                              <td>6.6768876</td>
                            </tr>
                            <tr>
                              <th>ETC</th>
                              <td>0.000056</td>
                              <td>5.3424984</td>
                            </tr>
                            <tr>
                              <th>LTC</th>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <th>XMR</th>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <th>BIT</th>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <th>EGF</th>
                              <td>0.0000234</td>
                              <td>4.3456600</td>
                            </tr>
                            <tr>
                              <th>EER</th>
                              <td>0.0000567</td>
                              <td>4.3456600</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}